@font-face {
    font-family: 'weather';
    src: url('esri_33-webfont.eot');
    src: url('esri_33-webfont.eot?#iefix') format('embedded-opentype'),
         url('esri_33-webfont.woff2') format('woff2'),
         url('esri_33-webfont.woff') format('woff'),
         url('esri_33-webfont.ttf') format('truetype'),
         url('esri_33-webfont.svg#esri_climate__precipitationRg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'wind';
    src: url('wind-webfont.eot');
    src: url('wind-webfont.eot?#iefix') format('embedded-opentype'),
         url('wind-webfont.woff2') format('woff2'),
         url('wind-webfont.woff') format('woff'),
         url('wind-webfont.ttf') format('truetype'),
         url('wind-webfont.svg#esri_weatherregular') format('svg');
    font-weight: normal;
    font-style: normal;

}